<!DOCTYPE html>
<html>
<head>
  <title>Strive</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	  <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><%= link_to "Home", statuses_path %></li>
          <li><%= link_to "+ New Adventure", new_status_path %></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="muted">Strive</h3>
      </div>
      <hr>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

		<%= yield %>
	</div>
</body>
</html>